<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>سمير بوك الإخباري</title>
    <meta name="Robots" content="follow,index" />
    <link rel="shortcut icon" href="icon.html" />
    <meta name="description" content="موقع سمير بوك يهتم بتقديم اخبار الاردن والعالم وكل ماهو غريب و كل يوم تشمل أخبار الجرائم والحوادث وأخبار طريفة من مختلف دول العالم بالإضافة إلى أخبار الرياضة والفن والمشاهير " />
    <meta name="keywords" content="اخبار الاردن,الاردن اليوم,موقع اردني,الاردن ,نيوز,الاخباري,مواقع اخبار,ايفون 5,العاب,سوق وشراء,اموال,تحميل,برامج,انتي فايروس,فيس بوك,مريام فارس,اخبار الفن,اخبار رياضية,مواقع زواج وتعارف,مدام وبنات,مصارعة,دنيا الوطن,جول اون لاين,سرايا,خبرني,جراسا,عمون,كووورة,الدوري الاسباني,الدوري الاردني,,يوتيوب,جريدة نورت,افلام,أغاني,فيديوهات,ميسي,كريستيانو" />
    <link rel="canonical" href="index.html" />
    <link type="application/rss+xml" rel="alternate" title="RSS Feeds" href="rss.xml" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28677601-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="mainouter">
      <div class="topouter">
        <div class="outer_container">
          <div class="otherbg">
            <div class="lt_topbg">
              <div class="center">
                <div class="top-container">
                  <header class="headercontainer">
                    <div class="toprow">
                      <div class="toplink">
                        <ul>
                          <li class="tl1"><%= link_to image_tag("/assets/img/Head_Fleet/1.png"), "javascript:void(0);", :onclick => "alert('Coming Soon!!')" %></li>
                          <li class="tl2"><%= link_to image_tag("/assets/img/Head_Fleet/2.png"), "javascript:void(0);", :onclick => "alert('Coming Soon!!')" %></li>
                          <li class="tl3"><%= link_to image_tag("/assets/img/Head_Fleet/3.png"), "javascript:void(0);", :onclick => "alert('Coming Soon!!')" %></li>
                          <li class="tl4"><%= link_to image_tag("/assets/img/Head_Fleet/4.png"), "javascript:void(0);", :onclick => "alert('Coming Soon!!')" %></li>
                          <li class="tl5"><%= link_to image_tag("/assets/img/Head_Fleet/5.png"), "javascript:void(0);", :onclick => "alert('Coming Soon!!')" %></li>
                        </ul>
                      </div>
                      <div class="search">
                        <form  method="post" id="searchform" style="margin: -3px 20px 0px 0px;"> 
                          <input  type="text" name="name" style="width: 160px;background: transparent;border: 0px solid red;color:#fff;" />  
                          <input  type="submit" name="submit" value="Search" class="searchbtn" style="color: transparent;" /> 
                        </form>
                      </div>
                      <div class="sociallinks">
                        <a href="rss.xml" target="_blank" class="rss"></a>
                        <a href="https://www.youtube.com/" target="_blank" class="yt"></a>
                        <a href="https://plus.google.com/" target="_blank" class="gp"></a>
                        <a href="https://twitter.com/#!/sameerbook" target="_blank" class="tw"></a>
                        <a href="http://www.facebook.com/Sameerbook" target="_blank" class="fb"></a>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="banneradd">
                      <table width="100%" style="padding-left: 60px; padding-right: 3px;">
                        <tr>

                          <td>
                            <a href="javascript:void(0);" target="_blank" title="أعلان الهيدر"><div><img src="/assets/img/ads/uploads/10082013100231123.gif" width="480px" height="80px" /></div></a>
                          </td>
                          <td>
                            <a href="#"></a>
                          </td>
                        </tr>
                      </table>
                      <div class="clear"></div>
                    </div>
                    <div class="logo"><a href="/"></a><div class="clear"></div></div>
                    <div class="news">

                      <div id="marquee1">
                        <div id="trends">
                          <div class="inner">
                            <ul class="trendscontent" style="zoom: 1;">


                              <li>
                                <a href="javascript:void(0);" class="search_link" name="تجربة ايمن البيتاوي  " rel="nofollow">تجربة ايمن البيتاوي  </a>
                                <em class="description"></em>
                              </li>
                              <li class="trend-label"><img src="/assets/logo.png"  height="20" style="padding-top:3px;"/></li>

                              <li>
                                <a href="javascript:void(0);" class="search_link" name="خبر رياضي رقم 2 " rel="nofollow">خبر رياضي رقم 2 </a>
                                <em class="description"></em>
                              </li>
                              <li class="trend-label"><img src="/assets/logo.png"  height="20" style="padding-top:3px;"/></li>

                              <li>
                                <a href="javascript:void(0);" class="search_link" name="test important news " rel="nofollow">test important news </a>
                                <em class="description"></em>
                              </li>
                              <li class="trend-label"><img src="/assets/logo.png"  height="20" style="padding-top:3px;"/></li>

                              <li>
                                <a href="javascript:void(0);" class="search_link" name="تفجيران يستهدفان التلفزيون السوري بدمشق (فيديو) " rel="nofollow">تفجيران يستهدفان التلفزيون السوري بدمشق (فيديو) </a>
                                <em class="description"></em>
                              </li>
                              <li class="trend-label"><img src="/assets/logo.png"  height="20" style="padding-top:3px;"/></li>

                              <li>
                                <a href="javascript:void(0);" class="search_link" name="طفل "خارق" يعترف على التلفزيون السوري بقتل 32 شخصاً ـ فيديو " rel="nofollow">طفل "خارق" يعترف على التلفزيون السوري بقتل 32 شخصاً ـ فيديو </a>
                                <em class="description"></em>
                              </li>
                              <li class="trend-label"><img src="/assets/logo.png"  height="20" style="padding-top:3px;"/></li>

                              <li>
                                <a href="javascript:void(0);" class="search_link" name="10 " rel="nofollow">10 </a>
                                <em class="description"></em>
                              </li>
                              <li class="trend-label"><img src="/assets/logo.png"  height="20" style="padding-top:3px;"/></li>

                              <li>
                                <a href="javascript:void(0);" class="search_link" name="9 " rel="nofollow">9 </a>
                                <em class="description"></em>
                              </li>
                              <li class="trend-label"><img src="/assets/logo.png"  height="20" style="padding-top:3px;"/></li>

                              <li>
                                <a href="javascript:void(0);" class="search_link" name="8 " rel="nofollow">8 </a>
                                <em class="description"></em>
                              </li>
                              <li class="trend-label"><img src="/assets/logo.png"  height="20" style="padding-top:3px;"/></li>

                              <li>
                                <a href="javascript:void(0);" class="search_link" name="7 " rel="nofollow">7 </a>
                                <em class="description"></em>
                              </li>
                              <li class="trend-label"><img src="/assets/logo.png"  height="20" style="padding-top:3px;"/></li>

                              <li>
                                <a href="javascript:void(0);" class="search_link" name="6 " rel="nofollow">6 </a>
                                <em class="description"></em>
                              </li>
                              <li class="trend-label"><img src="/assets/logo.png"  height="20" style="padding-top:3px;"/></li>
                            </ul>
                          </div>
                          <span class="fade fade-left">&nbsp;</span><span class="fade fade-right">&nbsp;</span>
                        </div>
                        <div class="trendtip">
                          <div class="trendtip-content">
                            <div></div>
                            <a class="trendtip-trend"></a>
                            <div class="trendtip-why">

                              <span class="trendtip-desc"></span>
                              <span class="trendtip-source"><span></span></span>
                            </div>
                          </div>
                          <div class="trendtip-pointer">&nbsp;</div>
                        </div>


                      </div>

                      <div class="heading"><img src="img/Headline_LastNews.png" alt="" /></div>
                      <div class="clear"></div>
                    </div>
                    <div class="clear"></div>

                  </header>
                  <section class="container">
                    <div class="banner_section">
                      <%= render "layouts/nav_links" %>
                    </div>

                  </section>
                  <div class="maincontent">
                    <%= yield %>

                    <div class="clear"></div>

                  </div>
                  <div class="clear"></div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
            <footer class="footer" style="">
              <div class="contianer" style="background:#990000;">
                <div class="footerbox">
                  <h2>عن سمير بوك</h2>
                  <p>موقع سمير بوك يقدم أخبار أردنية وعالمية وكل ماهو غريب و كل يوم تشمل أخبار الجرائم والحوادث وأخبار طري׿ة من مختل׿ دول العالم بالإضا׿ة إلى أخبار الرياضة وال׿ن والمشاهير.</p>
                  <p>&nbsp;</p>
                  <div class="sociallinks">
                    <a href="rss.xml" target="_blank" class="rss"></a>
                    <a href="https://www.youtube.com/" target="_blank" class="yt"></a>
                    <a href="https://plus.google.com/" target="_blank" class="gp"></a>
                    <a href="https://twitter.com/#!/sameerbook" target="_blank" class="tw"></a>
                    <a href="http://www.facebook.com/Sameerbook" target="_blank" class="fb"></a>
                    <div class="clear"></div>
                  </div>
                </div>
                <div class="footerbox boxbg">
                  <div class="votebox">
                    <h2>استطلاع الرأي</h2>
                    <div class="poll">
                      <table width="230px" border="0" cellpadding="0" cellspacing="1" class="tabele">
                        <tr>
                          <td class="poll">
                            <form action="" name="pollf" id="pollf" method="get">
                              <span class="fat">مين سمير </span><br />
                              <p><input type="radio" name="voteid" value="1" />&nbsp;&nbsp;سمير 1</p>
                              <p><input type="radio" name="voteid" value="2" />&nbsp;&nbsp;سمير 2</p>
                              <p><input type="radio" name="voteid" value="3" />&nbsp;&nbsp;سمير 3</p>
                              <p><input type="radio" name="voteid" value="4" />&nbsp;&nbsp;سمير 4</p>
                              <p style="float:none;clear:both;width:100%;text-align:center;padding-right:0px;margin-right: -10px;">
                                <input type="hidden" name="pollid" id="pollid" value="8" />                      															مجموع المصوتين: 3							</p>
                              <input type="submit" name="poll" id="poll" value="" class="submit"  style="margin-top:6px;float:left;background: url('http://dev.sameerbook.net/images/VoteButt.png') no-repeat scroll 50% 50% rgba(0, 0, 0, 0);margin-left:60px;width:130px;" />
                            </form>
                          </td>
                        </tr>
                      </table>                        
                      <br />
                      <br />
                      <br />

                    </div>
                  </div>
                </div>
                <div class="footerbox">
                  <h2>خريطة الموقع</h2>
                  <ul>
                    <li><a href="javascript:void(0);" title="حول العالـــم"  >حول العالـــم</a></li>

                    <li><a href="javascript:void(0);" title="اخبار دولية"  >اخبار دولية</a></li>

                    <li><a href="javascript:void(0);" title=" اخبار رياضية"  > اخبار رياضية</a></li>

                    <li><a href="javascript:void(0);" title="اخبار فنية"  >اخبار فنية</a></li>

                    <li><a href="javascript:void(0);" title="نــهــفــات"  >نــهــفــات</a></li>

                    <li><a href="javascript:void(0);" title="أقــلام واراء"  >أقــلام واراء</a></li>

                    <li><a href="javascript:void(0);" title="أريــد حـــلا"  >أريــد حـــلا</a></li>

                    <li><a href="javascript:void(0);" title="علوم وتكنولوجيا"  >علوم وتكنولوجيا</a></li>

                    <li><a href="javascript:void(0);" title="فيديوهـــات"  >فيديوهـــات</a></li>

                    <li><a href="javascript:void(0);" title="جامـعـــات"  >جامـعـــات</a></li>

                    <li><a href="javascript:void(0);" title=" صورة وتعليق"  > صورة وتعليق</a></li>

                    <li><a href="javascript:void(0);" title="عالـــم حـــواء"  >عالـــم حـــواء</a></li>

                    <li><a href="javascript:void(0);" title="اخبار الاردن"  >اخبار الاردن</a></li>

                    <li><a href="javascript:void(0);" title="قضايا وبرلمان"  >قضايا وبرلمان</a></li>

                    <li><a href="javascript:void(0);" title=" صحة وطب"  > صحة وطب</a></li>

                    <li><a href="javascript:void(0);" title="حــــــوادث"  >حــــــوادث</a></li>

                    <li><a href="javascript:void(0);" title="اخبار النـاس"  >اخبار النـاس</a></li>

                    <li><a href="javascript:void(0);" title="ثقافة أون لاين"  >ثقافة أون لاين</a></li>

                    <li><a href="javascript:void(0);" title="اخبار الاقتصاد"  >اخبار الاقتصاد</a></li>

                    <li><a href="javascript:void(0);" title="إحصائيات أخبار الموقع"  >إحصائيات أخبار الموقع</a></li>

                  </ul>

                </div>
                <div class="clear"></div>
              </div>

              <div class="clear"></div>
            </footer>
            <div style="margin:0px auto 0px; auto;width:1036px;background:#D6D6D6;padding-top:5px; padding-right:7px;">
              <div style="float: left; padding-left:10px;">
                <div style="float:left"><a href="http://www.orientalsecurity.com/" target="_blank" title="‫سيرفرات سمير بوك بإدارة وإستضافة المستشرق لحماية تكنولوجيا المعلومات"><img src="/assets/orient-logo.png" alt="" style="height: 50px" /></a></div>
                <div style="float:left;margin-top:15px;margin-left:10px">إستضافة وحماية المستشرق</div>
              </div>
              <div style="float: right">
                لا مانع من الاقتباس واعادة النشر شريطة ذكر المصدر ( سمير بوك الإخباري )<br />
                الاراء والتعليقات تعبر عن أراء أصحابها فقط.‬
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
